$dark: #E3DFFF;
$medium: #D3C0CD;
$light: #B19994;
$border-color: #E0DEDF;
$leaseLab-blue: rgb(0,157,221);

@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);

$main-font: 'Roboto', sans-serif;
$main-font-size: 10px;

body {
	font-family: $main-font;
	font-size: $main-font-size;

}

.page {
	display: grid;
	grid-template-rows: 100px auto;
	grid-template-columns: 1fr 3fr;

	background-color: #fff;

}

.header {
	grid-row: 1/2;
	grid-column-start: 1;
	grid-column-end: 3;

	.header-right {
		float: right;
		padding-right: 30px;
		a {
			text-decoration: none;
			font-size: 1.5em;
			padding: 20px;
		}
	}

	border-bottom: 1.2px solid $border-color;
}

.content {
	grid-column: 2/4;
	border-bottom: 1px solid $border-color;
	border-left: 1px solid $border-color;
	border-right: 1px solid $border-color;
	padding: 20px;
	margin-top: 20px;
	margin-left: 20px;


	#heading-1 {
		color: $leaseLab-blue;
	}

	#heading-2 {
		font-size: 1rem;
		font-style: italic;
		font-weight: bold;
		margin-left: 20px;

	}

	.text {

	}

	p {

	}

	.image-column {
		position: relative;
		float: left;
		width: 30%;
		margin: 5px;
		border: 1px solid $leaseLab-blue;
		height: 150px;
		overflow: hidden;
		:hover{
			cursor: pointer;
		}

		.image-text{
			position: absolute;
			z-index: 999;
			top: 10%;
			bottom: 50%;
			left: 25%;
			right: 25%;
			font-size: 1.5em;
			color: $leaseLab-blue;
			text-shadow: 1px #fff;
			text-align: center;
			visibility: hidden;

		}

	}

}


.sidebar {
	grid-column: 1/2;
	grid-row: 2/3;

	a {
		text-decoration: none;
		font-size: 1rem;
	}

	p {
		font-size: 1.2rem;
	}

	.nav {
		padding-left: 30px;
	}
}



















