$dark: #E3DFFF;
$medium: #D3C0CD;
$light: #B19994;

.page {
	display: grid;
	grid-template-rows: 100px 2fr;
	grid-template-columns: 1fr 2fr;

}

.header {
	grid-row: 1/2;
	grid-column-start: 1;
	grid-column-end: 3;
	background-color: $medium;

	.header-right {
		float: right;
	}


}

.content {
	grid-column: 2/3;
	background-color: $dark;

}

.sidebar {
	grid-column: 1/2;
	grid-row: 2/3;
	background-color: $light;
}

